@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>

<div class="button-container">
    <Button Class="btn btn-primary btn-lg" @onclick="NavigateBarLine">Slab Line</Button>
    <Button Class="btn btn-success btn-lg" @onclick="NavigateBarPie">Door Leaf Line</Button>
    <Button Class="btn btn-danger btn-lg" @onclick="NavigateLinePie">Frame Line</Button>
</div>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    private const int DelayTime = 10000; // 10 seconds

    private string BasePath => Navigation.BaseUri.Contains("/FactoryKPIs") ? "/FactoryKPIs" : string.Empty;

    private async Task NavigateBarLine()
    {
        Navigation.NavigateTo($"{BasePath}/barchart");
        await Task.Delay(DelayTime); // Wait for 10 seconds
        Navigation.NavigateTo($"{BasePath}/linechart");
    }

    private async Task NavigateBarPie()
    {
        Navigation.NavigateTo($"{BasePath}/barchart");
        await Task.Delay(DelayTime); // Wait for 10 seconds
        Navigation.NavigateTo($"{BasePath}/piechart");
    }

    private async Task NavigateLinePie()
    {
        Navigation.NavigateTo($"{BasePath}/linechart");
        await Task.Delay(DelayTime); // Wait for 10 seconds
        Navigation.NavigateTo($"{BasePath}/piechart");
    }
}